project:
  type: website

website:
  title: counting-to-90
  favicon: android-chrome-512x512.png
  open-graph: true
  twitter-card: true
  site-url: https://mtwente.github.io/counting-to-90/
  repo-url: https://github.com/mtwente/counting-to-90/
  issue-url: https://github.com/mtwente/counting-to-90/issues/new/choose
  repo-actions: [edit, issue]
  page-navigation: true
  bread-crumbs: true
  back-to-top-navigation: true
  search:
    show-item-context: true
    type: overlay
  navbar:
    logo: android-chrome-512x512.png
    logo-alt: ''
    title: counting-to-90
    tools:
      - icon: github
        url: https://github.com/mtwente/counting-to-90/
    left:
      - text: Readme
        href: index.qmd

  sidebar:
    contents:
      - section: counting-to-90
        href: index.qmd
        contents:
          - text: Changelog
            href: CHANGELOG.md
          - text: Code of Conduct
            href: CODE_OF_CONDUCT.md
          - text: Contributing
            href: CONTRIBUTING.md
          - text: License (Data)
            href: LICENSE-CCBY.md
          - text: License (Code)
            href: LICENSE-AGPL.md
          - text: Security
            href: SECURITY.md

format:
  html:
    toc: true
    theme:
      - brand
      - cosmo
    css: styles.css
    code-copy: true
    code-overflow: wrap
    canonical-url: true

freeze: true

editor: visual
